@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body{
    background-color: #eee;
    font-family: Open Sans;
}

.container{
    display: flex;
    background-color: #eee;
}

.box{
    background-color: white;
    margin: 10px auto;
    box-shadow: 10px 10px 10px #ccc;
}

.image{
    max-width: 300px;
    max-height: 450px;
    float: left;
}

.info{
    float: right;
    min-width: 300px;
    max-width: 600px;
    margin: 20px;
    color: #343838;
}

.title{
    margin: 0px;
}

.release_date, .genre, .runtime{
    opacity: 0.5;
}

.director, .cast{
    font-weight: bold;
}

hr{
    margin: 10px 0px; 
}

.button{
    background-color: #005f6b;
    display: inline;
    padding: 5px 20px;
    border-radius: 5px;
}

.button:hover{
    background-color: #008c9e;
}

.button a{
    text-decoration: none;
    color: white;
}
